.title {
  text-align: center;
  padding: 30px 30px 0px 30px;
  font-size: 35px;
}

.todo-board {
  padding: 0px 30px;
}

.todo-input {
  text-align: center;
}

input[type=text] {
  width: 80%;
  max-width: 400px;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 4px;
}

input[type=submit] {
  padding: 12px 30px;
  border-radius: 4px;
}

.todo-list {
  margin: auto;
  padding: 10px 20px;
  width: 80%;
  max-width: 500px;
}

.todo-list li {
  padding: 10px 0;
  list-style-type: none;
}